<div class="row">
  <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>
  <div class="col-lg-4">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button">Go!</button>
        </span>
      </div>
    </div>
</div>
