<br>
<br>
<h3>Choose the table to admin</h3>
<div class="list-group">
  <a href="/type_editor" class="list-group-item list-group-item-action list-group-item-primary">type</a>
  <a href="/rubric_editor" class="list-group-item list-group-item-action list-group-item-secondary">rubric</a>
  <a href="/publisher_editor" class="list-group-item list-group-item-action list-group-item-success">publisher</a>
  <a href="/category_editor" class="list-group-item list-group-item-action list-group-item-danger">category</a>
  <a href="/country_editor" class="list-group-item list-group-item-action list-group-item-warning">country</a>
  <a href="/author_editor" class="list-group-item list-group-item-action list-group-item-info">author</a>
  <a href="/library_editor" class="list-group-item list-group-item-action list-group-item-secondary">library</a>
  <a href="/book_editor" class="list-group-item list-group-item-action list-group-item-success">book</a>  
</div>
